; {{ ansible_managed }}
; http://xdebug.org/docs/all_settings
[xdebug]
{% if php_xdebug_settings.auto_trace is defined %}
xdebug.auto_trace={{ php_xdebug_settings.auto_trace|default("0") }}
{% endif %}
{% if php_xdebug_settings.cli_color is defined %}
xdebug.cli_color={{ php_xdebug_settings.cli_color|default("0") }}
{% endif %}
{% if php_xdebug_settings.collect_assignments is defined %}
xdebug.collect_assignments={{ php_xdebug_settings.collect_assignments|default("0") }}
{% endif %}
{% if php_xdebug_settings.collect_includes is defined %}
xdebug.collect_includes={{ php_xdebug_settings.collect_includes|default("1") }}
{% endif %}
{% if php_xdebug_settings.collect_params is defined %}
xdebug.collect_params={{ php_xdebug_settings.collect_params|default("0") }}
{% endif %}
{% if php_xdebug_settings.collect_return is defined %}
xdebug.collect_return={{ php_xdebug_settings.collect_return|default("0") }}
{% endif %}
{% if php_xdebug_settings.collect_vars is defined %}
xdebug.collect_vars={{ php_xdebug_settings.collect_vars|default("0") }}
{% endif %}
{% if php_xdebug_settings.coverage_enable is defined %}
xdebug.coverage_enable={{ php_xdebug_settings.coverage_enable|default("1") }}
{% endif %}
{% if php_xdebug_settings.default_enable is defined %}
xdebug.default_enable={{ php_xdebug_settings.default_enable|default("1") }}
{% endif %}
{% if php_xdebug_settings.dump_COOKIE is defined %}
xdebug.dump.COOKIE={{ php_xdebug_settings.dump_COOKIE|default("") }}
{% endif %}
{% if php_xdebug_settings.dump_ENV is defined %}
xdebug.dump.ENV={{ php_xdebug_settings.dump_ENV|default("") }}
{% endif %}
{% if php_xdebug_settings.dump_FILES is defined %}
xdebug.dump.FILES={{ php_xdebug_settings.dump_FILES|default("") }}
{% endif %}
{% if php_xdebug_settings.dump_GET is defined %}
xdebug.dump.GET={{ php_xdebug_settings.dump_GET|default("") }}
{% endif %}
{% if php_xdebug_settings.dump_POST is defined %}
xdebug.dump.POST={{ php_xdebug_settings.dump_POST|default("") }}
{% endif %}
{% if php_xdebug_settings.dump_REQUEST is defined %}
xdebug.dump.REQUEST={{ php_xdebug_settings.dump_REQUEST|default("") }}
{% endif %}
{% if php_xdebug_settings.dump_SERVER is defined %}
xdebug.dump.SERVER={{ php_xdebug_settings.dump_SERVER|default("") }}
{% endif %}
{% if php_xdebug_settings.dump_SESSION is defined %}
xdebug.dump.SESSION={{ php_xdebug_settings.dump_SESSION|default("") }}
{% endif %}
{% if php_xdebug_settings.dump_globals is defined %}
xdebug.dump_globals={{ php_xdebug_settings.dump_globals|default("1") }}
{% endif %}
{% if php_xdebug_settings.dump_once is defined %}
xdebug.dump_once={{ php_xdebug_settings.dump_once|default("1") }}
{% endif %}
{% if php_xdebug_settings.dump_undefined is defined %}
xdebug.dump_undefined={{ php_xdebug_settings.dump_undefined|default("0") }}
{% endif %}
{% if php_xdebug_settings.extended_info is defined %}
xdebug.extended_info={{ php_xdebug_settings.extended_info|default("1") }}
{% endif %}
{% if php_xdebug_settings.file_link_format is defined %}
xdebug.file_link_format={{ php_xdebug_settings.file_link_format|default("") }}
{% endif %}
{% if php_xdebug_settings.force_display_errors is defined %}
xdebug.force_display_errors={{ php_xdebug_settings.force_display_errors|default("0") }}
{% endif %}
{% if php_xdebug_settings.force_error_reporting is defined %}
xdebug.force_error_reporting={{ php_xdebug_settings.force_error_reporting|default("0") }}
{% endif %}
{% if php_xdebug_settings.halt_level is defined %}
xdebug.halt_level={{ php_xdebug_settings.halt_level|default("0") }}
{% endif %}
{% if php_xdebug_settings.idekey is defined %}
xdebug.idekey={{ php_xdebug_settings.idekey|default("") }}
{% endif %}
{% if php_xdebug_settings.manual_url is defined %}
xdebug.manual_url={{ php_xdebug_settings.manual_url|default("") }}
{% endif %}
{% if php_xdebug_settings.max_nesting_level is defined %}
xdebug.max_nesting_level={{ php_xdebug_settings.max_nesting_level|default("100") }}
{% endif %}
{% if php_xdebug_settings.overload_var_dump is defined %}
xdebug.overload_var_dump={{ php_xdebug_settings.overload_var_dump|default("1") }}
{% endif %}
{% if php_xdebug_settings.profiler_append is defined %}
xdebug.profiler_append={{ php_xdebug_settings.profiler_append|default("0") }}
{% endif %}
{% if php_xdebug_settings.profiler_enable is defined %}
xdebug.profiler_enable={{ php_xdebug_settings.profiler_enable|default("0") }}
{% endif %}
{% if php_xdebug_settings.profiler_enable_trigger is defined %}
xdebug.profiler_enable_trigger={{ php_xdebug_settings.profiler_enable_trigger|default("0") }}
{% endif %}
{% if php_xdebug_settings.profiler_output_dir is defined %}
xdebug.profiler_output_dir={{ php_xdebug_settings.profiler_output_dir|default("/tmp") }}
{% endif %}
{% if php_xdebug_settings.profiler_output_name is defined %}
xdebug.profiler_output_name={{ php_xdebug_settings.profiler_output_name|default("cachegrind.out.%p") }}
{% endif %}
{% if php_xdebug_settings.remote_autostart is defined %}
xdebug.remote_autostart={{ php_xdebug_settings.remote_autostart|default("0") }}
{% endif %}
{% if php_xdebug_settings.remote_connect_back is defined %}
xdebug.remote_connect_back={{ php_xdebug_settings.remote_connect_back|default("0") }}
{% endif %}
{% if php_xdebug_settings.remote_cookie_expire_time is defined %}
xdebug.remote_cookie_expire_time={{ php_xdebug_settings.remote_cookie_expire_time|default("3600") }}
{% endif %}
{% if php_xdebug_settings.remote_enable is defined %}
xdebug.remote_enable={{ php_xdebug_settings.remote_enable|default("0") }}
{% endif %}
{% if php_xdebug_settings.remote_handler is defined %}
xdebug.remote_handler={{ php_xdebug_settings.remote_handler|default("dbgp") }}
{% endif %}
{% if php_xdebug_settings.remote_host is defined %}
xdebug.remote_host={{ php_xdebug_settings.remote_host|default("localhost") }}
{% endif %}
{% if php_xdebug_settings.remote_log is defined %}
xdebug.remote_log={{ php_xdebug_settings.remote_log|default("") }}
{% endif %}
{% if php_xdebug_settings.remote_mode is defined %}
xdebug.remote_mode={{ php_xdebug_settings.remote_mode|default("req") }}
{% endif %}
{% if php_xdebug_settings.remote_port is defined %}
xdebug.remote_port={{ php_xdebug_settings.remote_port|default("9000") }}
{% endif %}
{% if php_xdebug_settings.scream is defined %}
xdebug.scream={{ php_xdebug_settings.scream|default("0") }}
{% endif %}
{% if php_xdebug_settings.show_exception_trace is defined %}
xdebug.show_exception_trace={{ php_xdebug_settings.show_exception_trace|default("0") }}
{% endif %}
{% if php_xdebug_settings.show_local_vars is defined %}
xdebug.show_local_vars={{ php_xdebug_settings.show_local_vars|default("0") }}
{% endif %}
{% if php_xdebug_settings.show_mem_delta is defined %}
xdebug.show_mem_delta={{ php_xdebug_settings.show_mem_delta|default("0") }}
{% endif %}
{% if php_xdebug_settings.trace_enable_trigger is defined %}
xdebug.trace_enable_trigger={{ php_xdebug_settings.trace_enable_trigger|default("0") }}
{% endif %}
{% if php_xdebug_settings.trace_format is defined %}
xdebug.trace_format={{ php_xdebug_settings.trace_format|default("0") }}
{% endif %}
{% if php_xdebug_settings.trace_options is defined %}
xdebug.trace_options={{ php_xdebug_settings.trace_options|default("0") }}
{% endif %}
{% if php_xdebug_settings.trace_output_dir is defined %}
xdebug.trace_output_dir={{ php_xdebug_settings.trace_output_dir|default("/tmp") }}
{% endif %}
{% if php_xdebug_settings.trace_output_name is defined %}
xdebug.trace_output_name={{ php_xdebug_settings.trace_output_name|default("trace.%c") }}
{% endif %}
{% if php_xdebug_settings.var_display_max_children is defined %}
xdebug.var_display_max_children={{ php_xdebug_settings.var_display_max_children|default("128") }}
{% endif %}
{% if php_xdebug_settings.var_display_max_data is defined %}
xdebug.var_display_max_data={{ php_xdebug_settings.var_display_max_data|default("512") }}
{% endif %}
{% if php_xdebug_settings.var_display_max_depth is defined %}
xdebug.var_display_max_depth={{ php_xdebug_settings.var_display_max_depth|default("3") }}
{% endif %}
